services:
  backend:
    build:
      context: ./backend
    env_file:
      - .env
    restart: unless-stopped
    ports:
      - "8700:8000"
    volumes:
      - /home/fidelidade/data/media:/data/media
      - /home/fidelidade/data/staticfiles:/data/staticfiles
